body{
    background-color: darkslategray; 
    text-align: center;
}
h1 {
    text-align: center;
}
h2{
    text-align: center;
}
h2{
    color: aliceblue;
}
h1{
    color: aliceblue;
}
.sobrenatural img{
    width: 750px;
}

img{
    width: 650px;
}