body{
    background-color: rgb(236, 168, 185);
    text-align: center;
}
h1{
    color: aliceblue;
}
h1{
    text-align: center;
}
h2{
    color: aliceblue;
}
h2{
    text-align: center;
}
img{
    text-align: center;
    width: 650px;
}